*{
	margin: 0px;
	padding: 0px;
}

#animated-text{
	margin: 50px auto;
	width: 50%;
	height: 200px;
	border: 2px solid #000000;
	font-family: Arial,serif;
    font-size: 25px;
}

input {
	margin: 50px 25%;
    width: 50%;
    height: 30px;
    font-size: 25px;
}

#progress-bar{
	height: 5px;
	margin: 20px;
	background-color: black;
	width: 10px;
	transition:0.4s;
}
