<html>
<head>
	<link rel="stylesheet" href="/../static/css/index.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<title>Typeracer clone</title>
</head>
<body>



	<div id="text-to-write" style="visibility: hidden">No more will my green sea go turn a deeper blue. I could not foresee this thing happening to you. If I look hard enough into the setting sun, my love will laugh with me before the morning comes.</div>

	<div id="progress-bar"></div>

	<div id="animated-text"></div>

	<input id="type-input" type="text"/>

	<script type="text/javascript">

		var str = $("#text-to-write").text();
		var res = str.split(" ");
		var counter = 0;

		for (var i = 0; i <= res.length - 1; i++) {
			document.getElementById('animated-text').innerHTML += "<span id='word-" + i + "'>"+ res[i] +"</span> ";
		};



		document.getElementById("type-input").addEventListener('keyup', function (event)
		{

			var progress = (counter/res.length) * 100;
			console.log(progress)
			$("#progress-bar").css("width", "" + progress + "%");

		    wordReColor(counter);

		    if (event.keyCode === 32){
		    	if($('#type-input').val().replace(/ /g,'') === res[counter]){
			        $('#type-input').val('');
			        console.log("good job: " + res[counter]);
			        counter++;
			        wordReColor(counter);
		    	} else {
		    		$("#type-input").css("background-color", "rgba(255,0,0,0.7)");
		    		$("#word-" + counter).css("color", "red");
		    		console.log("wrong: " + res[counter]);
		    	}
		    }

		});




		function wordReColor(counter){
			var length = $('#type-input').val().replace(/ /g,'').length;
			for (var i = 0; i <= counter; i++) {
				$("#word-" + i).css({"color": "black", "text-decoration": "none"});
			};
			if( $("#type-input").val().replace(/ /g,'') != res[counter].slice(0, length) ){
		    	$("#type-input").css("background-color", "rgba(255,0,0,0.7)");
		    	$("#word-" + counter).css("color", "red");
		    } else {
		    	$("#type-input").css("background-color", "white");
		    	$("#word-" + counter).css({"color": "green", "text-decoration": "underline"});
		    }
		}

	</script>

</body>
</html>