<html>
<head>
	<link rel="stylesheet" href="/../static/css/index.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<title>Typeracer clone</title>
</head>
<body>



	<div id="text-to-write" style="visibility: hidden">{{ text }}</div>

	<div id="progress-bar"></div>

	<div id="animated-text"></div>

	<button onClick="window.location.reload();">Next text --></button>

	<div id="countdown"></div>

	<input id="type-input" type="text" placeholder="Type the above text here when the race begins.">

	<script type="text/javascript">

		var chars = $('#text-to-write').text().length;
		var str = $("#text-to-write").text();
		var res = str.split(" ");
		var counter = 0;
		var t0 = 2;

		for (var i = 0; i <= res.length - 1; i++) {
			document.getElementById('animated-text').innerHTML += "<span id='word-" + i + "'>"+ res[i] +"</span> ";
		};

		$('#type-input').keypress(function(e) {e.preventDefault();});

		setTimeout(function() { $('#type-input').unbind('keypress'); $('input:text').attr('placeholder',''); var t0 = performance.now(); }, 5000);

		var countdown = 5;
		var interval = setInterval(function() {
		    countdown--;
		    $('#countdown').text(countdown.toString());
		    if (countdown == 0) {
		        clearInterval(interval);
		        $('#countdown').text("GO");
		    }
		}, 1000);

		document.getElementById("type-input").addEventListener('keyup', function (event)
		{

		    wordReColor(counter);

		    if ($('#type-input').val().replace(/ /g,'') === res[counter] && counter === res.length - 1){
		    	var t1 = performance.now();
		    	$('#type-input').val('');
		    	wpm = chars/((t1 - t0 - 5000)/60000)/5;
		    	console.log("Your speed: " + Math.round(wpm) + " WPM.");
		    	$('#countdown').text("Your speed is " + Math.round(wpm) + " WPM.");
		    }

		    if (event.keyCode === 32){
		    	if($('#type-input').val().replace(/ /g,'') === res[counter]){
			        $('#type-input').val('');
			        counter++;
			        wordReColor(counter);
			        progressUpdate(counter);
		    	} else {
		    		$("#type-input").css("background-color", "rgba(255,0,0,0.7)");
		    		$("#word-" + counter).css("color", "red");
		    		console.log("wrong: " + res[counter]);
		    	}
		    }

		});

		function progressUpdate(counter){
			var progress = (counter/res.length) * 100;
				console.log(progress);
				$("#progress-bar").css("width", "" + progress + "%");
		}

		function wordReColor(counter){
			var length = $('#type-input').val().replace(/ /g,'').length;
			for (var i = 0; i <= counter; i++) {
				$("#word-" + i).css({"color": "black", "text-decoration": "none"});
			};
			if( $("#type-input").val().replace(/ /g,'') != res[counter].slice(0, length) ){
		    	$("#type-input").css("background-color", "rgba(255,0,0,0.7)");
		    	$("#word-" + counter).css("color", "red");
		    } else {
		    	$("#type-input").css("background-color", "white");
		    	$("#word-" + counter).css({"color": "green", "text-decoration": "underline"});
		    }
		}

	</script>

</body>
</html>